.App {
  text-align: center;
   /* The image used */
   background-image: url("./assets/images/pawel-czerwinski-1585736-unsplash.jpg");

   /* Set a specific height */
   min-height: 1000px;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}



.App-header {
  background-color: #282c34;
 /* min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
